<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/style.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="homework">
        <div class="title"><h1>Box Model<br>HOMEWORK</h1></div>
    </div>
    <div class="animals">
        <div class="animal" id="parrot"><img src="../Assets/parrot.jpg" alt="parrot"></div>
        <div class="animal" id="koala"><img src="../Assets/koala.jpg" alt="koala"></div>
        <div class="animal" id="monkey"><img src="../Assets/monkey.jpg" alt="monkey"></div>
    </div>
    <div class="boxes">
        <div class="box" id="content-box">Content Box</div>
        <div class="box" id="padding-box">Padding Box</div>
        <div class="box" id="border-box">Border Box</div>
    </div>
</body>
</html>