<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <table cellspacing="2" cellpadding="2" border="5">
      <tbody>
        <tr>
          <td class="redBox"></td>
          <td class="redBox"></td>
          <td colspan="2" rowspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2" rowspan="2"></td>
          <td class="blueBox"></td>
          <td class="blueBox"></td>
        </tr>
        <tr>
          <td class="redBox"></td>
          <td class="redBox"></td>
          <td></td>
          <td class="blueBox"></td>
          <td></td>
          <td class="blueBox"></td>
          <td class="blueBox"></td>
        </tr>
        <tr>
          <td colspan="4" rowspan="2"></td>
          <td></td>
          <td class="blueBox"></td>
          <td></td>
          <td colspan="4" rowspan="2"></td>
        </tr>
        <tr>
          <td></td>
          <td class="blueBox"></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="blueBox"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td class="redBox"></td>
          <td class="redBox"></td>
          <td class="redBox"></td>
          <td class="redBox"></td>
          <td></td>
          <td class="greenBox"></td>
          <td class="greenBox"></td>
          <td class="greenBox"></td>
          <td class="greenBox"></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="yellowBox"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4" rowspan="2"></td>
          <td></td>
          <td class="yellowBox"></td>
          <td></td>
          <td colspan="4" rowspan="2"></td>
        </tr>
        <tr>
          <td></td>
          <td class="yellowBox"></td>
          <td></td>
        </tr>
        <tr>
          <td class="yellowBox"></td>
          <td class="yellowBox"></td>
          <td colspan="2" rowspan="2"></td>
          <td></td>
          <td class="yellowBox"></td>
          <td></td>
          <td colspan="2" rowspan="2"></td>
          <td class="greenBox"></td>
          <td class="greenBox"></td>
        </tr>
        <tr>
          <td class="yellowBox"></td>
          <td class="yellowBox"></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="greenBox"></td>
          <td class="greenBox"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
