<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Styles/style.css" />
    <link
      href="https://unpkg.com/css.gg@2.0.0/icons/css/search.css"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1><a href="./index.html">Dijana Beauty House</a></h1>
      <form action="">
        <input
          type="search"
          name="search"
          id="search"
          placeholder="Search for anything"
        />
        <button class="search"><i class="gg-search"></i></button>
      </form>
      <nav>
        <ul class="nav_list">
          <li><a href="index.html">Home</a></li>
          <li><a href="#designs">Designs</a></li>
          <li><a href="#prices">Prices</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="hero">
        <h1>
          Style your nails, the way <br /><span style="color: #fff; font-weight: 900;">YOU</span>
          like!
        </h1>
        <p>Choose your prefered design, and make a booking now!</p>
        <button><a href="#designs">TO DESIGNS</a></button>
      </section>
      <section class="designs" id="designs">
        <h2>Here you can see some of our proudest designs:</h2>
        <div class="articles">
          <article>
            <img src="../Assets/design1.jpg" alt="design1" id="design1" />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
              aperiam labore aspernatur exercitationem blanditiis maiores
              reiciendis a rerum quisquam deleniti!
            </p>
          </article>
          <article>
            <img src="../Assets/design2.jpg" alt="design2" id="design2" />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
              aperiam labore aspernatur exercitationem blanditiis maiores
              reiciendis a rerum quisquam deleniti!
            </p>
          </article>
          <article>
            <img src="../Assets/design3.jpg" alt="design3" id="design3" />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
              aperiam labore aspernatur exercitationem blanditiis maiores
              reiciendis a rerum quisquam deleniti!
            </p>
          </article>
        </div>
      </section>
      <footer>
        <section class="footer">
            <div class="contact" id="contact">
                <h3>Follow us on our social medias:</h3>
                <ul>
                <li><a href="https://www.facebook.com/beautyhousedijana" target="_blank">Facebook</a></li>
                <li><a href="https://www.instagram.com/beautyhousedijana" target="_blank">Instagram</a></li>
                <li><a href="#" target="_blank">Tik Tok</a></li>
                </ul>
                <h3>Or contact us through our number or adress:</h3>
                <ul>
                <li>
                    <a href="#"><strong>Mobile Number: </strong> +38976903299</a>
                </li>
                <li>
                    <a href="#"
                    ><strong>E-mail Adress: </strong>dijanaslamkova@yahoo.com</a
                    >
                </li>
                </ul>
            </div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11862.144801893486!2d21.4494103!3d41.9887667!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1354150bfae4e205%3A0xcd21693e50ab33c7!2sDijana%20Beauty%20House!5e0!3m2!1sen!2smk!4v1683147292371!5m2!1sen!2smk"
                width="500"
                height="200"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
        </section>
        <label for="copy" id="copy"
          >&copy; All rights reserved - Dijana Beauty House<br />Skopje
          2023</label
        >
      </footer>
    </main>
  </body>
</html>