* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all 0.2s ease-in-out;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: #132743;
}

::-webkit-scrollbar-thumb {
    background: #ffcbcb;
    border-radius: 30px;
    border: 3px solid #132743;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #132743;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.577);
    z-index: 999;
}

header h1 {
    font-size: 25px;
}

h1 a {
    color: #ffcbcb;
    text-decoration: none;
    font-weight: 100;
}

#search {
    width: 500px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    background-color: #407088;
    border: none;
    color: #132743;
}

.search {
    background-color: #132743;
    color: #ffcbcb;
    border: none;
    padding-left: 10px;
}

.nav_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav_list li {
    list-style: none;
    padding-left: 30px;
    font-size: 20px;
}

.nav_list li a {
    text-decoration: none;
    color: #407088;
}

.nav_list li a:hover {
    color: #ffcbcb;
}

body {
    background-image: url(../Assets/Dijana.png);
    background-position: top 80px right 0px;
    background-repeat: no-repeat;
    background-size: 47%;
    background-color: #132743;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hero {
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    width: 100%;
}

.hero h1 {
    font-size: 60px;
    color: #ffcbcb;
}

.hero p {
    color: #407088;
}

.hero button {
    width: 120px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: #ffcbcb;
    margin-top: 50px;
}

.hero button a {
    text-decoration: none;
    color: #132743;
    font-weight: 600;
    padding: 5px;
}

.designs {
    height: 100vh;
    width: 100%;
    background-color: #ffcbcb;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.designs h2 {
    text-align: center;
    color: #132743;
    font-weight: 100;
}

.articles {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 50px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
}

article img {
    width: 350px;
    box-shadow: -10px 20px 30px rgba(0, 0, 0, 0.577);
    margin-bottom: 30px;
}

article img:hover {
    transform: scale(130%);
    box-shadow: -50px 40px 50px rgba(0, 0, 0, 0.353);
}

article p {
    color: #132743;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact ul {
    padding-top: 5px
}

.contact h3 {
    color: #ffcbcb;
    font-weight: 100;
    font-size: 20px;
    padding-top: 20px;
}

.contact li {
    color: #ffcbcb;
}

.contact li a {
    color: #407088;
    text-decoration: none;
    font-size: 18px;
}

#copy {
    text-align: center;
    color: #407088;
    padding-top: 50px;
    padding-bottom: 10px;
}


@media all and (max-width: 400px) {
    
    header {
        height: 90px;
    }

    body {
        background-size: 300%;
        background-position: 150px 480px;
    }

    .hero {
        height: 171vh;
    }

    .hero h1 {
        font-size: 90px;
        width: 600px;
    }

    .hero button {
        width: 180px;
        height: 60px;
    }
     
    .hero button a {
        font-size: 20px;
    }

    .designs {
        height: 178vh;
    }

    article img {
        width: 350px;
    }

    footer {
        height: 100vh;
        padding-bottom: 450px;
    }
}

@media all and (max-width: 768px) {
    header {
        width: 910px;
        height: 70px;
    }

    header h1 {
        font-size: 20px;
    }

    #search {
        width: 200px;
    }

    nav ul {
        padding-right: 10px;
    }

    body {
        background-size: contain;
        background-position: 140px 530px;
    }

    .hero {
        justify-content: start;
        padding-top: 160px;
        height: 112vh;
    }
    
    .hero h1 {
        font-size: 80px;
    }

    .designs {
        height: 120vh;
        width: 910px;
    }

    .designs h2 {
        font-size: 27px;
    }

    .articles {
        flex-direction: column;
    }

    article {
        flex-direction: row;
        width: 600px;
    }

    article img {
        width: 300px;
    }

    article p {
        font-size: 20px;
        padding-left: 20px;
    }

    footer {
        width: 900px;    
        padding: 30px;
    }

    iframe {
        padding-left: 50px;
    }
}

@media all and (max-width: 1080px) {
    
    header {
        height: 150px;
        flex-wrap: wrap;
    }

    header h1 {
        font-size: 50px;
    }

    #search {
        width: 320px;
        height: 45px;
    }

    nav li a {
        font-size: 35px;
    }

    body {
        background-size: 300%;
        background-position: 30px 570px;
    }

    .hero {
        height: 187vh;
    }

    .hero h1 {
        font-size: 90px;
        width: 600px;
    }
    
    .hero p {
        font-size: 20px;
    }

    .hero button {
        width: 180px;
        height: 60px;
    }
     
    .hero button a {
        font-size: 20px;
    }

    .designs {
        height: 200vh;
    }

    article {
        width: 700px;
    }

    article p {
        font-size: 23px;
    }

    .designs h2 {
        font-size: 30px;
        font-weight: 400;
        padding-bottom: 50px;
    }

    article img {
        width: 400px;
    }

    footer {
        height: 450px;
    }

    .contact h3 {
        font-size: 30px;
    }

    .contact ul li a {
        font-size: 25px;
    }

    iframe {
        height: 300px;
        padding-top: 20px;
    }
}